<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="send_working_day.Properties.Settings.BioStarConnectionString"
            connectionString="Data Source=172.16.69.200;Initial Catalog=BioStar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--Morning-->
		<add key="morningHour" value="9" />
		<add key="morningMinute" value="0" />
		<!--Morning-->
		<add key="nightHour" value="20" />
		<add key="nightMinute" value="0" />
		<!--Days-->
		<add key="days" value="1" />
		<!--Department-->
		<add key="departments" value="1" />
		<!--Outlook Email ;huydl@nhg.vn;thanhnd@nhg.vn-->
		<add key="emails" value="dangnh@nhg.vn" />
		<!--Emailx ;huydl@nhg.vn;thanhnd@nhg.vn-->
		<add key="emailx" value="null" />
	</appSettings>
</configuration>
